In [14]:
data_match['Elo']

0      1798
1      1805
2      1786
3      1792
4      1810
       ...
346    1879
347    1830
348    1838
349    1845
350    1841
Name: Elo, Length: 351, dtype: int64

## Imports

In [17]:
import requests 
import csv
from io import StringIO
import pandas as pd 
import datetime

## Get to the ClubElo API for the 3 different clubs Son played

In [2]:
r_hamburg = requests.get('http://api.clubelo.com/Hamburg')

In [3]:
r_leverkusen = requests.get('http://api.clubelo.com/Leverkusen')

In [4]:
r_spurs = requests.get('http://api.clubelo.com/Tottenham')

### Store the data in Dataframes

In [5]:
data_hamburg = StringIO(r_hamburg.text)

df_hamburg = pd.read_csv(data_hamburg, sep =',')

In [6]:
data_leverkusen = StringIO(r_leverkusen.text)

df_leverkusen = pd.read_csv(data_leverkusen, sep =',')

In [7]:
data_spurs = StringIO(r_spurs.text)

df_spurs = pd.read_csv(data_spurs,sep=',')

### Change data type for Date columns

In [8]:
df_hamburg.From = pd.to_datetime(df_hamburg['From'])
df_hamburg.To = pd.to_datetime(df_hamburg['To'])

In [9]:
df_leverkusen.From = pd.to_datetime(df_leverkusen['From'])
df_leverkusen.To = pd.to_datetime(df_leverkusen['To'])

In [10]:
df_spurs.From = pd.to_datetime(df_spurs['From'])
df_spurs.To = pd.to_datetime(df_spurs['To'])

### Open the file with all the matchs' data

In [15]:
data_match = pd.read_csv("club/all_season/Son_data_champ-ldc_matchs_details_all_season.csv")

In [16]:
data_match.Date = pd.to_datetime(data_match['Date'])

## Create column 'Elo' based on data acquired from the API

In [18]:
data_match['Elo'] = 0

start_leverkusen = datetime.datetime(2013,8,10)
start_spurs = datetime.datetime(2015,9,13)

for i in range (len(data_match)) :
    #Elo for Hamburg
    if (data_match['Date'][i] < start_leverkusen):
        for j in range(len(df_hamburg)):
            if (data_match['Date'][i] >= df_hamburg['From'][j]) & (data_match['Date'][i] <= df_hamburg['To'][j]) :
                data_match['Elo'][i] = df_hamburg['Elo'][j]
    #Elo for Leverkusen games
    elif ((data_match['Date'][i]>= start_leverkusen) &(data_match['Date'][i] < start_spurs)):
        for k in range(len(df_leverkusen)):
            if (data_match['Date'][i] >= df_leverkusen['From'][k]) & (data_match['Date'][i] <= df_leverkusen['To'][k]) :
                data_match['Elo'][i] = df_leverkusen['Elo'][k]
    #Elo for Spurs games
    else : 
        for l in range(len(df_spurs)):
            if (data_match['Date'][i] >= df_spurs['From'][l]) & (data_match['Date'][i] <= df_spurs['To'][l]) :
                data_match['Elo'][i] = df_spurs['Elo'][l]

In [21]:
data_match.Elo

0      1750
1      1741
2      1747
3      1740
4      1731
       ...
346    1879
347    1830
348    1838
349    1845
350    1841
Name: Elo, Length: 351, dtype: int64

In [24]:
data_match.to_csv("club/all_season/Son_data_champ-ldc_matchs_details_all_season.csv", index= False)